<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>F7296711-4BA2-4489-A211-6B78EB5E3C0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7517479B-FC25-42BB-AB43-A80ED4B1A8FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ryusuke Chiba</string>
	<key>description</key>
	<string>Count char</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Char Counter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>count</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>counting...</string>
				<key>script</key>
				<string>require_once('workflows.php');
$wf = new Workflows();

$input = "{query}";
$count = mb_strlen($input, 'UTF-8');
$wf-&gt;result(0, $count, 'Char count : ' . $count, '', '');
$wf-&gt;results();
echo $wf-&gt;toxml();</string>
				<key>subtext</key>
				<string>Count char.</string>
				<key>title</key>
				<string>Char Counter</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F7296711-4BA2-4489-A211-6B78EB5E3C0B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7517479B-FC25-42BB-AB43-A80ED4B1A8FA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7517479B-FC25-42BB-AB43-A80ED4B1A8FA</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>F7296711-4BA2-4489-A211-6B78EB5E3C0B</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
